[run]
source = src
omit =
    src/ui/*
    src/ui/**
    src/utils/*
    src/utils/**
    */src/ui/*
    */src/ui/**
    */src/utils/*
    */src/utils/**

[report]
show_missing = true
fail_under = 65
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    if TYPE_CHECKING:
